<%= form_tag '/pages/do_grade', :html => {:class => 'form-horizontal' } do |f| %>

	<div class="form-group">

		<p>Restrições de horários</p>

		<div class="col-sm-6">
			<%=label_tag 'horario' %>
			<%=text_field_tag 'horario'%>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag 'Gerar Grade', :class =>'btn btn-primary' %>
		</div>
	</div>

<% end %>
