
<div class="container">
	<div class="page-header">
		<h1>Aconselhamento</h1>
	</div>

	<p>Gerar grade de horário</p>

	<%= link_to 'Gerar grade', :grade, class: 'btn btn-default' %>

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	<%= link_to 'Voltar', :root, class: 'btn btn-default' %>
</div>
