
<div class="container">
	<div class="page-header">
		<h1>Aconselhamento</h1>
	</div>

	<p>Gerar grade de horário</p>

	</br>
	</br>
	</br>

		<p>Restrições de horário usadas:</p>
		<% [ '2JK', '3JK', '6JKLMNP' ].each do |x| %>
			<%= x %></br>
		<% end %>
	</br>
	<p>Disciplinas já cursadas:</p>
		<% [ 1, 2, 3, 10 ].each do |x| %>
			<%= Disciplina.where(id: x).first.nome %></br>
		<% end %>

	</br>
	</br>
	</br>
	

	<%= link_to 'Gerar grade', :grade, class: 'btn btn-default' %>

	</br>
	</br>
	<%= link_to 'Voltar', :root, class: 'btn btn-default' %>
</div>
