<div class="container">
	<div class="page-header">
		<h1></h1>
	</div>
	<%= link_to 'Backup', :backup, class: 'btn btn-default' %>
	<%= link_to 'Restore', :restore, class: 'btn btn-default' %>
</div>
