<div class="form-group">
	<%= f.label :disciplina_id, :class => 'control-label col-sm-2' %>
	<div class="col-sm-6">
		<%= f.collection_select :id, Disciplina.all.order('nome ASC'), :id, :nome, {prompt: 'Selecione uma Disciplina'}, {class: 'form-control selectpicker', 'data-live-search': 'true'}%>
	</div>
</div>
